
<div class="min-h-screen bg-slate-900 p-8 text-white">
  <div class="max-w-4xl mx-auto bg-slate-800 rounded-xl shadow-2xl border-4 border-slate-700 overflow-hidden">
    
    <div class="bg-linear-to-b from-yellow-400 to-yellow-600 px-2 py-1 border-b-4 border-yellow-700">
      <h2 class="text-3xl font-black text-blue-900 uppercase tracking-tight drop-shadow-md">
        Guinea Guns:
        @if (clanResult$ | async; as clanResult) {
          {{ clanResult.currentMemberCount + " / 50" }}
        } @else {
          Loading...
        }
      </h2>
    </div>

    <div class="overflow-auto">
      @if (clanResult$ | async; as clanResult) {
        <table class="w-full text-left border-collapse">
          <thead class="sticky top-0 z-10 table-fixed bg-slate-700 text-yellow-400 uppercase text-sm">
            <tr>
              <th class="w-5 px-2 text-right">#</th>
              <th class="w-5 px-2 text-center">Role</th>
              <th class="w-20 px-2 text-right">Trophies</th>
              <th class="px-2">Player</th>
              <th class="w-5 px-2 text-center" title="Joins">Joins</th>
              <th class="w-5 px-2 text-center" title="Earliest known membership">Join Date</th>
              <th class="w-16 px-2 text-center" title="Kicks">Kicks</th>
              <th class="w-5 px-2 text-right" title="Donations">Don</th>
              <th class="w-20 px-2 text-right" title="Current War">W</th>
              <th class="w-20 px-2 text-right" title="Last War">W -1</th>
              <th class="w-20 px-2 text-right" title="Last Last War">W -2</th>
            </tr>
          </thead>
          <tbody class="divide-y divide-slate-700">
            @for (member of clanResult.allMembers; track member.tag; let i = $index) {
              <tr class="hover:opacity-80 transition-colors group"
                  [class.bg-gray-700]="member.historical"
                  [class.bg-orange-900]="member.shouldKick"
                  [class.bg-yellow-900]="member.shouldNudge">
                <td class="px-2 text-right font-bold text-slate-400">
                  @if (!member.historical) {
                    {{ i + 1 }}
                  }
                </td>
                <td class="px-2 text-center">
                  <span class="px-2 py-0 rounded-md bg-slate-900 text-sm font-semibold border border-slate-600 font-mono">
                    {{ member.roleCode }}
                  </span>
                </td>
                <td class="px-2 text-right">
                  {{ member.trophies }}
                </td>
                <td class="px-2">
                  <span class="font-bold text-white group-hover:text-yellow-400"
                      [class.text-gray-400]="member.historical">
                    {{ member.name }}
                  </span>
                  &nbsp;
                  <span class="text-xs text-slate-500">
                    {{ member.tag }}
                  </span>
                </td>
                <td class="px-2 text-center">
                  {{ member.joinCount }}
                </td>
                <td class="px-2 text-center">
                  {{ getJoinDate(member.earliestMembershipTimestamp) }}
                </td>
                <td class="px-2 text-center">
                  <input 
                    type="number" 
                    min="0"
                    step="1"
                    [value]="member.kickCount"
                    (change)="updateKickCount(member, $event)"
                    class="w-12 bg-slate-900 border border-slate-600 rounded text-center text-yellow-400 focus:border-yellow-500 outline-hidden"
                  />
                </td>
                <td class="px-2 text-right">
                  {{ member.donations }}
                </td>
                <td class="px-2 text-right">
                  {{ member.currentWar?.fame }}
                </td>
                <td class="px-2 text-right">
                  {{ member.lastWar?.fame }}
                </td>
                <td class="px-2 text-right">
                  {{ member.lastLastWar?.fame }}
                </td>
              </tr>
            }
          </tbody>
        </table>
      } @else if (errorMessage) {
        <p class="text-red-500">{{ errorMessage }}</p>
      } @else {
        <p class="text-slate-400">Loading Royale Data...</p>
      }
    </div>
  </div>
</div>
