/* You can add global styles to this file, and also import other style files */

@import "tailwindcss";

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px #000;
    text-shadow: 2px 2px 0 #000;
  }
}

/* Tip: Import a font like 'Rubik' or 'Bangers' in your index.html 
   to match the game's bold typography */
